<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMS | Customers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
        <h1 class="text-center">Customers</h1>
        <table class="table">
            <thead>
                <th scope="col">Customer</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                <tr th:each="c : ${customers}">
                    <td th:text="${c.name}">-</td>
                    <td th:text="${c.contactName}">-</td>
                    <td th:text="${c.email}">-</td>
                    <td th:text="${c.phoneNumber}">-</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="#" th:href="@{/customers/{id}(id=${c.id})}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>